@import 'bulma';

.container {
  width: 800px;
  margin: auto;
  border: 1px solid grey;

    .font {
      font-family: 'Hind Guntur', sans-serif;
      // text-align: center;
    }

    .box {
      width: 80%;
      // margin: auto;
    }

    .new-member {
      margin-top: 20%;
    }
    .styling_title{
      display: inline-block;

    }
    .styling_category{
      display: inline-block;
    }

}

.prettyprint {
  .tag {
    align-items: baseline;
    background-color: transparent;
  }
}
.styleClassTable{
   margin: 10px;

}
.style_Htag{
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
}
.styling_selectcategory{
  margin: 10px;
  padding: 7px;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}
.stylePostTable{
  margin: 10px;
}
.styleCaptions{
  display: inline-block;
  border: 1px solid lightgray;
  width: 60px;
  text-align: center;
  border-radius: 12%;

}
#styleAddPostButton{
  margin: 10px;
}
.styleBackButton{
  margin: 10px;
}
.adminOption{
  display: inline-block;
  margin-left:10px;
}
a{
  color: #4a4a4a;
}
