@import 'bulma';

.container {
  width: 800px;
  margin: auto;
  border: 1px solid grey;

    .font {
      font-family: 'Hind Guntur', sans-serif;
      // text-align: center;
    }

    .box {
      width: 80%;
      // margin: auto;
    }

    .new-member {
      margin-top: 20%;
    }
    .styling_title{
      display: inline-block;

    }
    .styling_category{
      display: inline-block;
    }

}

.prettyprint {
  .tag {
    align-items: baseline;
    background-color: transparent;
  }
}