@import 'bulma';

  .new-member {
      margin-top: 20%;
    }


.styling_title{
  display: inline-block;

}
.styling_category{
  display: inline-block;
}
.prettyprint {
  .tag {
    align-items: baseline;
    background-color: transparent;
  }
}
.styleClassTable{
   margin: 10px;

}
.style_Htag{
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
}
.styling_selectcategory{
  margin: 10px;
  padding: 7px;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}
.stylePostTable{
  margin: 10px;
}
.styleTags{
  display: inline-block;
  border: 1px solid lightgray;
  width: 70px;
  margin-right: 7px;
  text-align: center;
  border-radius: 12%;

}
#styleAddPostButton{
  margin: 10px;
}
.styleBackButton{
  margin: 10px;
}
.adminOption{
  display: inline-block;
  margin-left:10px;
}
a{
  color: #4a4a4a;
}
#styleQuestion{
  margin-top: 10px;
  margin-bottom: 10px;
}
#questionTitle{
  font-size: 20px;
  font-family: Nunito;
}
#question{
  font-size: 18px;
  font-family: Nunito;
}
#styleAddCommentButton{
  margin-top: 10px;
  margin-bottom: 10px;
}
#styleComment{
  display: inline-block;

}
#stlyeDeleteCommentButton{
  float: right;

}
#styleStatusContent{
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  margin-top: 10px;

}
#styling_display_comment{
  font-size: 20px;
  font-family: 'Josefin+Sans';
  color:#363636;
  margin-bottom: 10px;
}
#backbutton{
  margin-top: 20px;

}
#videoTitle{
  font-size: 20px;
  font-family: Nunito;
  margin-top:10px;
  margin-bottom: 10px;
}
#videoBox{
  margin-top: 5px;
  text-align: center;
  padding:7px;
}
#codeTitle{
  font-size: 20px;
  font-family: Nunito;
  margin-top:10px;
  margin-bottom: 10px;
}

/*.input {
  text-align: center;
}*/

.column {
  height: 300px;
  overflow: auto;
  margin-right: .75em;
  margin-bottom: 0 !important;
}

.profileImg {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  border: 3px solid black;
}

.profileImgSmall {
  max-height: 24px;
  max-width: 24px;
  border-radius: 50%;
  border: 2px solid black;
}

.divCenter {
  text-align: center;
}

.shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.seeThrough {
  background: rgba(255, 255, 255, .7);
}

.mainBox {
  background-color: #EEEDED;
}  

.marketing{
  height: 600px;
  width: 100%
}
.solgan{
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin-top: 150px;
  color: white;
}
.i_cons{
  vertical-align: middle;
  text-align: center;
}
.i_cons1{
  display: inline-block;
  height: 150px;
  width: 150px;
}
.i_cons2{
  display: inline-block;
  color: white;
  height: 150px;
  width: 150px;
}
.slack{
  height: 150px;
  width: 150px;
  margin-left: 470px;
}
