<div class="box" ng-if="aboutassignments.posts.length">
   <div class="columns">
     <div class="column notification is-info">
       <h1 class = "title nav-center">Questions</h1>
       <table class = "table is-striped" style="width:100%">
         <tr>
           <th>Title</th>
           <th>Post Date</th>
           <th ng-if="aboutassignments.isAdmin">Delete</th>
         </tr>
         <tr ng-repeat = "question in aboutassignments.questions" >
           <td>
             <ul>
             <li ui-sref= "root.user.class.postDetails({id: question.id,class_id:question.class_id})">{{question.title}}</li>
             </ul>
           </td>
           <td>
              <ul>
              <li> <div> {{ question.created_at }}</div></li>
              </ul>
            </td>
           <td>
             <ul>
             <li<div ng-if="aboutassignments.isAdmin"><button  class = "button is-danger" type="button"  ng-click = "aboutassignments.removePost(question.class_id,question.id)"> x </button></div></a></li>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div class="column notification is-warning">
       <h1 class = "title nav-center">Videos</h1>
       <table class = "table is-striped" style="width:100%">
         <tr>
           <th>Title</th>
           <th>Post Date</th>
           <th ng-if="aboutassignments.isAdmin">Delete</th>
         </tr>
         <tr ng-repeat = "video in aboutassignments.videos" >
           <td>
             <ul>
             <li ui-sref= "root.user.class.postDetails({id: video.id,class_id:qvideo.class_id})">{{video.title}}</li>
             </ul>
           </td>
           <td>
              <ul>
              <li> <div> {{ video.created_at }}</div></li>
              </ul>
            </td>
           <td>
             <ul>
             <li<div ng-if="aboutassignments.isAdmin"><button  class = "button is-danger" type="button"  ng-click = "aboutassignments.removePost(video.class_id,video.id)"> x </button></div></a></li>
             </ul>
           </td>
       </tr>
       </table>
     </div>
   </div>
 </div>

 <div class="box" ng-if="aboutassignments.posts.length">
   <div class="columns">
     <div class="column notification is-dark">
       <h1 class = "title nav-center">Code Snippets</h1>
       <table class = "table is-striped" style="width:100%">
         <tr>
           <th>Title</th>
           <th>Post Date</th>
           <th ng-if="aboutassignments.isAdmin">Delete</th>
         </tr>
         <tr ng-repeat = "code in aboutassignments.codes" >
           <td>
             <ul>
             <li ui-sref= "root.user.class.postDetails({id: code.id,class_id:code.class_id})">{{code.title}}</li>
             </ul>
           </td>
           <td>
              <ul>
              <li> <div> {{ code.created_at }}</div></li>
              </ul>
            </td>

           <td>
             <ul>
             <li<div ng-if="aboutassignments.isAdmin"><button  class = "button is-danger" type="button"  ng-click = "aboutassignments.removePost(code.class_id,code.id)"> x </button></div></a></li>
             </ul>
           </td>
         </tr>
       </table>
     </div>
     <div class="column notification is-primary">
       <h1 class = "title nav-center">Statuses</h1>
       <table class = "table is-striped" style="width:100%">
         <tr>
           <th>Title</th>
           <th>Post Date</th>
           <th ng-if="aboutassignments.isAdmin">Delete</th>
         </tr>
         <tr ng-repeat = "status in aboutassignments.statuses" >
           <td>
             <ul>
             <li ui-sref= "root.user.class.postDetails({id: status.id,class_id:status.class_id})">{{status.title}}</li>
             </ul>
           </td>
           <td>
              <ul>
              <li> <div> {{ status.created_at }}</div></li>
              </ul>
            </td>
           <td>
             <ul>
             <li<div ng-if="aboutassignments.isAdmin"><button  class = "button is-danger" type="button"  ng-click = "aboutassignments.removePost(status.class_id,status.id)"> x </button></div></a></li>
             </ul>
           </td>
       </tr>
       </table>
     </div>
   </div>
 </div>

 <div class="box" ng-if="!aboutassignments.posts.length">
   No posts to display for this assignment.
 </div>

 <a ui-sref = "root.user.class.list"><button class = "button is-dark" type="button" id ="backbutton" ng-if="aboutassignments.user"> Back </button></a>
