<div class="box">

  <div class="box">

  <h1></h1>
  <h1  class= "style_Htag" >Add Post</h1>
   <select class="styling_selectcategory" value = "category" ng-model ="about.post.category" >
      <option value="" disabled selected>Please Select Category...</option>
      <option value="question">Questions</option>
      <option value="video">You-Tube Video tutorials</option>
      <option value="code">Code snippets</option>
      <option value="status">Status Update</option>
    </select>
  <div class ="form_div">
    <form class="styling_aboutform" ng-submit = "about.createPost()">
      <label class="label" ng-show = "about.post.category == 'question'||about.post.category == 'video'||about.post.category == 'code'||about.post.category == 'status'"> Title </label>
        <input class="input" type="text" ng-model ="about.post.title" ng-show = "about.post.category == 'question'||about.post.category == 'video'||about.post.category == 'code'||about.post.category == 'status'">

      <label class="label" ng-show="about.post.category == 'question'"> Question </label>
      <textarea class="textarea" ng-model="about.post.content" ng-show="about.post.category == 'question'"></textarea>

      <label class="label" ng-model="about.post.content" ng-show="about.post.category == 'status'"> Status Update </label>
      <textarea class="textarea" ng-model="about.post.content" ng-show="about.post.category == 'status'"></textarea>

      <label class="label" ng-model="about.post.content" ng-show="about.post.category == 'code'"> Code Snippet </label>
      <textarea class="textarea" ng-model="about.post.content" ng-show="about.post.category == 'code'" ng-show="about.post.category == 'code'"></textarea>

      <label class="label" ng-show="about.post.category == 'video'"> You-Tube Video </label>
      <input type="url" name="code_url" ng-model="about.post.content" ng-if="about.post.category == 'video'" >
      <button class = "button is-dark" type="submit" id ="styleAddPostButton"> Post </button>
    </form>
  </div>


</div>

<!-- <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical">
    <div class="tile"> -->
      <!-- Top tile -->
    <!-- </div>
    <div class="tile"> -->
      <!-- Bottom tile -->
    <!-- </div>
  </div>
  <div class="tile"> -->
    <!-- This tile will take up the whole vertical space -->
  <!-- </div>
</div> -->


<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title">Questions</p>
          <p class="subtitle">  <table class = "table is-striped" style="width:100%">
              <tr>
                <th>Questions</th>
                <th>Delete</th>
              </tr>
              <tr ng-repeat = "question in about.questions" >
                <td>
                  <ul>
                  <li ui-sref= "root.user.class.postDetails({id: question.id,class_id:question.class_id})">{{question.title}}</li>
                  </ul>
                </td>
                <td>
                  <ul>
                  <li<div><button  class = "button is-danger" type="button"  ng-click = "about.removePost(post.class_id,post.id)"> Delete Post </button></div></a></li>
                  </ul>
                </td>
              </tr>
            </table>
          </p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Videos</p>
          <p class="subtitle">  <table class = "table is-striped" style="width:100%">
              <tr>
                <th>Videos</th>
                <th>Delete</th>
              </tr>
              <tr ng-repeat = "video in about.videos" >
                <td>
                  <ul>
                  <li ui-sref= "root.user.class.postDetails({id: video.id,class_id:qvideo.class_id})">{{video.title}}</li>
                  </ul>
                </td>
                <td>
                  <ul>
                  <li<div><button  class = "button is-danger" type="button"  ng-click = "about.removePost(post.class_id,post.id)"> Delete Post </button></div></a></li>
                  </ul>
                </td>
            </tr>
            </table>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-dark">
          <p class="title">Code Snippets</p>
          <p class="subtitle">  <table class = "table is-striped" style="width:100%">
              <tr>
                <th>Code</th>
                <th>Delete</th>
              </tr>
              <tr ng-repeat = "code in about.codes" >
                <td>
                  <ul>
                  <li ui-sref= "root.user.class.postDetails({id: code.id,class_id:code.class_id})">{{code.title}}</li>
                  </ul>
                </td>
                <td>
                  <ul>
                  <li<div><button  class = "button is-danger" type="button"  ng-click = "about.removePost(code.class_id,code.id)"> Delete Post </button></div></a></li>
                  </ul>
                </td>
              </tr>
            </table>
          </p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Status Updates</p>
          <p class="subtitle">  <table class = "table is-striped" style="width:100%">
              <tr>
                <th>Statuses</th>
                <th>Delete</th>
              </tr>
              <tr ng-repeat = "status in about.statuses" >
                <td>
                  <ul>
                  <li ui-sref= "root.user.class.postDetails({id: status.id,class_id:status.class_id})">{{status.title}}</li>
                  </ul>
                </td>
                <td>
                  <ul>
                  <li<div><button  class = "button is-danger" type="button"  ng-click = "about.removePost(post.class_id,post.id)"> Delete Post </button></div></a></li>
                  </ul>
                </td>
            </tr>
            </table>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
</div>
