<div class="class-registration">
  <span>Which class would you like to register for?</span>
    <div class = "dropDown">
      <select class="class">
       <option> Select Class</option>
       <option> Front End</option>
       <option> Back End</option>
       <option> iOS</option>
      </select>
    </div>

  <span>When does your cohort begin?</span>
    <div class = "dropDown">
      <select class="date">
       <option> Select Date</option>
       <option> January 2017</option>
       <option> April 2017</option>
       <option> July 2017</option>
      </select>
    </div>

  <span>Which campuse will you be attending?</span>
    <div class = "dropDown">
      <select class="location">
       <option> Select City</option>
       <option> Atlanta, GA</option>
       <option> Greenville, SC</option>
      </select>
    </div>
</div>
