
<table class = "table is-striped" style="width:100%">
  <h1 class="title">Assignments</h1>
  <tr>
    <th>Week</th>
    <th>Title</th>
    <th>Description</th>
    <th>Delete</th>
    <th>Posts</th>


  </tr>
  <tr ng-repeat = "item in enabled.list" >
    <td>
      <ul>
      <li>{{item.week}}</li>
      </ul>
    </td>
    <td>
      <ul>
      <li>{{item.title}}</li>
      </ul>
    </td>
    <td>
      <ul>
      <li>{{item.description}}</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>  <button type="button" class= "button is-outlined is-info" ng-if="enabled.isAdmin" ng-click="enabled.deleteassignment(item.id)"> Delete </button></a>
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li>  <button type="button" class= "button is-outlined is-info"> <a ui-sref="root.user.class.assignmentabout({id: enabled.class_id , assignment_id: item.id })">Existing Posts</a></button></a>
        </li>
      </ul>
    </td>
  </tr>
</table>
