

<!--<div>
	<div ng-repeat = "userpost in home.userposts">
	<div class="styling_title" ui-sref="root.user.class.postDetails({id: userpost.id,class_id:userpost.class_id})"><div>Title: {{userpost.title}}</div></div>
	<div class= "styling_category">Category: {{userpost.category}}</div>
	<div><button type="button" id="backbutton" ng-click ="home.removePost(userpost.class_id,userpost.id)"> Delete Post </button></div>
	</div>

</div>-->

<div class="box">

  <table class = "styleHome" style="width:100%">
    <tr>
      <th class= "style_Htag"> My Posts</th>
    </tr>
    <tr class = "box" ng-repeat = "userpost in home.userposts">
      <td>
        <ul>
        <li  ui-sref="root.user.class.postDetails({id: userpost.id,class_id:userpost.class_id})"><div class="button is-success">Title</div> {{userpost.title}}</li>
        </ul>
      </td>
      <td>
        <ul>
        <li><div class="button is-success">Category</div>{{userpost.category}}</li>
        </ul>
      </td>
      <td>
        <ul>
        <li<div><button class = "button is-dark" type="button"  ng-click ="home.removePost(userpost.class_id,userpost.id)"> Delete Post </button></div></a></li>
        </ul>
      </td>
  </tr>

  </table>




  <a ui-sref = "root.user.class.list"><button class = "button is-dark" type="button" id ="backbutton"> Back </button></a>


</div>
