<div class="box">

  <header>
   <nav class="nav">
     <div class="nav-left">
       <p class="nav-item"><img src ="../images/IronStackMed.png"></p>
     </div>
     <div class="nav-right nav-menu">
       <a class="nav-item" ui-sref="root.user.home" ng-show = "!layout.admin">My Posts</a>
       <a class="nav-item" ui-sref="root.user.profile" ng-show = "!layout.admin">My Profile</a>
       <a class="nav-item" ui-sref="root.user.myNotes">My Notes</a>
       <a class="nav-item" href="#/register"
          ng-show="!layout.loggedIn">Sign Up</a>
       <a class="nav-item" href="#/login"
          ng-show="!layout.loggedIn">Login</a>
       <a class="nav-item" href="#/"
          ng-show="layout.loggedIn"
          ng-click="layout.logout()">Logout</a>
     </div>
   </nav>
  </header>

  <div class="wrapper" ui-view>
  </div>


</div>
