<div class="marketing" style="background-image: url('../images/office-1209640_1920.jpg')">
<nav class="nav">
  <div class="nav-left">
  <a class="nav-item is-brand" href="#">
      <img src="../images/IronStackMed.png">
      </a>
  </div>

  <div class="nav-right nav-menu">

    <span class="nav-item">
      <a class="button is-primary" >
        <div>Login</div>
      </a>
      <a class="button is-primary" href="#">
        <div>Register</div>
      </a>
    </span>
   </div>
</nav>


	<div class="solgan"> <h1> Code.Learn(Collaborate);</h1></div>
	<div class ="i_cons">
	<!--<div class="i_cons1"> 
		<img src = "../images/Light-Bulb_icon_by_Till_Teenck_green.png">
	</div>-->
	<!--<div class="i_cons2"> 
		<img src = "../images/Source_code_project_1171.png">
	</div>
	</div>
	<div class ="slack"> 
	with <img src = "../images/Slack_CMYK.svg.png"> integration
	</div>-->


</div>