<div class="marketing" style="background-image: url('../images/office-1209640_1920.jpg')">
<nav class="nav">
  <div class="nav-left">
  <a class="nav-item is-brand" href="#">
      <img src="../images/IronStackMed.png">
      </a>
  </div>

  <div class="nav-right nav-menu">

    <span class="nav-item">
      <a class="button is-primary" ui-sref="root.main.login">
        <div>Login</div>
      </a>
      <a class="button is-primary" ui-sref="root.main.register">
        <div>Register</div>
      </a>
    </span>
   </div>
</nav>


	<div class="solgan"> <p> Code.Learn(Collaborate);</p></div>




  <div class="endbar">
    <div class="post"> POST</div>
    <div class="comment"> | </div>
    <div class="slack comment">  <img src ="../images/Slack_CMYK.svg.png"> </div>
    <div class="comment"> | </div>
    <div class="comment"> COMMENT </div>

</div>
