<div class = "box">
<div ng-if="post.postDetails.category == 'question'">
  <article  id ="styleQuestion" class="message is-info">
  <div id="questionTitle" class="message-header">Title:{{post.postDetails.title}} </div>
  <div id="question" class="message-body">Question:{{post.postDetails.content}}
  </div>
</article>
</div>

<div ng-if="post.postDetails.category == 'status'">
	<div id="styleStatusContent" class="notification is-primary">
		<div>{{post.postDetails.content}}</div>
	</div>
</div>

<div id="videoTitle" ng-if="post.postDetails.category == 'video'">
	<article class="message is-warning">
	  	<div class="message-header">Title:{{post.postDetails.title}}</div>
		<div id="videoBox" ><iframe width="560" height="315" ng-src="{{post.display_url}}"frameborder="0" allowfullscreen></iframe></div>
	</article>
</div>

<div ng-if="post.postDetails.category == 'code'">
	<article class="message">
  		<div id="codeTitle" class="message-header"> Title:{{post.postDetails.title}}</div>
		<div class="message-body"><pre class="prettyprint">{{post.postDetails.content}}</pre></div>
	</article>	
</div>

<form  ng-submit = "post.createComment(post.comment)">
	<label class= "style_Htag" class="label" > Comments </label>
	<textarea class="textarea" ng-model = "post.comment.content"></textarea>
	<button class="button is-dark" id="styleAddCommentButton" type="submit"> Add Comment </button>
</form>

<div ng-click="post.readComments()" ng-show="!post.showComments">Show {{post.count}} Comments</div>

<div ng-click="post.readComments()" ng-show="post.showComments">{{post.count}}<ng-pluralize count="count" when="{'1':'comment', 'other':'comments'}"></ng-pluralize> comments </div>

<div  ng-repeat = "comment in post.comments">
	<div id = "styling_display_comment" class ="box" >
		<div id="styleComment">{{comment.content}}</div>
		<div id = "stlyeDeleteCommentButton"><button class="button is-danger" type="button" ng-click = "post.removeComment(comment.post_id,comment.id)"> Delete Comment </button></div>
	</div>
	
</div>

<a ui-sref = "root.user.class.about({id:post.postDetails.class_id})"><button class="button is-dark" type="button" id="backbutton"> Back </button></a>
</div>