<div class="box">

  <div class="card is-fullwidth">
      <section class="hero is-dark">
        <div class="hero-body">
          <div class="container">
            <h1 class="title nav-center">
              Sign Up
            </h1>
          </div>
        </div>
      </section>
    <div class="card-content">
      <div class="content section">
        <form name="signup-form" ng-submit="register.createUser(user)">
          <p class="control">
            <input class = "input" name="firstName" type="text" placeholder="First Name"
                   ng-model="user.firstName" required />
          </p>
          <p class="control">
            <input class = "input" name="lastName" type="text" placeholder="Last Name"
                   ng-model="user.lastName" required />
          </p>
         <p class="control">
           <input class = "input" name="username" type="text" placeholder="Username"
                  ng-model="user.username" required />
         </p>
         <p class="control">
           <input class = "input" name="email" type="email" placeholder="Email"
                  ng-model="user.email" required />
         </p>
         <p class="control">
           <input class = "input" name="password" maxlength="40" type="password" placeholder="Password"
                  ng-model="user.password" required />
         </p>
         <p class="hero is-dark section">
           <button class = "button is-dark is-medium" ng-click="createUser(user)" > Create User</button>
         </p>
        </form>
      </div>
    </div>
  </div>

</div>
