<div class="box">

  <div class="card is-fullwidth">
      <section class="hero is-dark">
        <div class="hero-body">
          <div class="container">
            <h1 class="title nav-center">
              Class Registration
            </h1>
          </div>
        </div>
      </section>
    <div class="card-content">

      <div class="content section">
        <form class="styling_form" ng-submit = "select.selectclass(clazz)">

         <select class="styling_select" value = "class" ng-model ="clazz.className">
        	  <option value="" disabled selected>Please Select Class..</option>

        	  <option value="{{classOption.className}}" ng-repeat = "classOption in select.classOptions" >{{classOption.className}}</option>
        	</select>

        	<select class="styling_select" value = "class" ng-model ="clazz.instructor">
        	  <option value="" disabled selected >Please Select Instructor ...</option>
        	  <option value="{{classOption.instructor}}" ng-repeat = "classOption in select.classOptions">{{classOption.instructor}}</option>
        	</select>

        	<select class="styling_select" value = "class" ng-model ="clazz.campus">
        	  <option value="" disabled selected>Please Select Campus ...</option>
        	  <option value="{{classOption.campus}}" ng-repeat = "classOption in select.classOptions"> {{classOption.campus}}</option>
        	</select>

        	<button class = "button is-dark" type="submit"> Register Class </button>

        </form>
      </div>

    </div>

    <p class="hero is-dark section">
    </p>

  </div>


</div>
